@model CNPM.Models.account

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/MyLayout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.id)
    @Html.HiddenFor(model => model.password)
    @Html.HiddenFor(model => model.idCart)
    <div class="section-wrapper">
        <label class="section-title">CHỈNH SỬA THÔNG TIN</label>
        <p class="mg-b-20 mg-sm-b-40">Chỉnh sửa các thông tin cần thiết trong tài khoản.</p>

        <form asp-area="Admin" asp-controller="Accounts" asp-action="Create" method="post">
            <div class="form-layout form-layout-4">
                <div class="row mg-t-20">
                    <label class="col-sm-2 form-control-label">Email: <span class="tx-danger">*</span></label>
                    <div class="col-sm-6 mg-t-10 mg-sm-t-0">
                        <div class="input-group">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nhập Email" } })

                            <div class="input-group-append">
                                <span class="input-group-text">@@ex.com</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mg-t-20">
                    <label class="col-sm-2 form-control-label">Họ tên: <span class="tx-danger">*</span></label>
                    <div class="col-sm-6 mg-t-10 mg-sm-t-0">
                        @Html.EditorFor(model => model.fullname, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nhập họ và tên" } })
                    </div>
                </div>

                <div class="row mg-t-20">
                    <label class="col-sm-2 form-control-label">Ngày sinh: <span class="tx-danger">*</span></label>
                    <div class="col-sm-6 mg-t-10 mg-sm-t-0">

                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fa fa-calendar tx-16 lh-0 op-6"></i>
                                </div>
                            </div>
                            @Html.EditorFor(model => model.birth, new { htmlAttributes = new { @class = "form-control", @placeholder = "MM/DD/YYYY" } })

                        </div>
                    </div>
                </div>
                <div class="row mg-t-20">
                    <label class="col-sm-2 form-control-label">Giới tính: <span class="tx-danger">*</span></label>
                    <div class="col-sm-6 mg-t-10 mg-sm-t-0">
                        <div class="input-group">

                            <label class="rdiobox mg-r-25">
                                @Html.RadioButton("Gender", "Nam")


                                <span>Nam</span>
                            </label>
                            <label class="rdiobox">
                                @Html.RadioButton("Gender", "Nữ")

                                <span>Nữ</span>
                            </label>
                        </div><!-- input-group -->

                    </div>
                </div>
                <div class="row mg-t-20">
                    <label class="col-sm-2 form-control-label">Địa chỉ: <span class="tx-danger">*</span></label>
                    <div class="col-sm-6 mg-t-10 mg-sm-t-0">

                        @Html.TextArea("address", new { @class = "form-control", @placeholder = "Nhập địa chỉ" })

                    </div>
                </div>
                <div class="row mg-t-20">
                    <label class="col-sm-2 form-control-label">Số điện thoại: <span class="tx-danger">*</span></label>
                    <div class="col-sm-6 mg-t-10 mg-sm-t-0">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fa fa-phone tx-16 lh-0 op-6"></i>
                                </div>
                            </div>
                            @Html.EditorFor(model => model.sdt, new { htmlAttributes = new { @class = "form-control", @placeholder = "(999) 999-9999" } })
                        </div>

                    </div>

                </div>

                <div class="form-layout-footer mg-lg-t-50">
                    <input type="submit" value="Lưu thông tin" class="btn btn-primary bd-0 mg-r-10" />
                    @Html.ActionLink("Hủy", "Index", null, new { @class = "btn btn-outline-secondary" })
                </div><!-- form-layout-footer -->

            </div><!-- form-layout -->
        </form>
    </div>
}
